<% include ../partials/header %>
<div class="row">
  <div class="small-12 columns">
    <h1>System Users</h1>
    <div id="app-container">
      <admin-users-table-container></admin-users-table-container>
    </div>
  </div>
</div>

<script src="../app.bundle.js"></script>
<% include ../partials/footer %>
