<% include partials/header %>

    <div class="text-center">
        <h1>Not found!</h1>
        <p><img src="https://images-production.global.ssl.fastly.net/uploads/photos/file/109327/stewie-griffin-family-guy-quote-12.jpg?auto=compress&crop=top&fit=clip&h=500&q=55&w=698" alt="stewie" /></p>
    </div>

<!--<script src="app.bundle.js"></script>-->
<% include partials/footer %>
