<% include partials/header %>


<div class="row">
  <div class="small-12 columns">
    <h1>Your user account is inactive.</h1>
    <p>An administrator was notified when you signed in for the first time.</p>
  </div>
</div>

<!--<script src="app.bundle.js"></script>-->
<% include partials/footer %>
