<% include partials/header %>

<div class="row">
  <div class="small-12 columns">
    <h1>My Profile Page</h1>
    <p>User</p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
  <% if (!isAuthenticated) { %>
    <a id="signIn" href="/login">Sign In</a>
  <% } else { %>
    <a href="/logout">Log Out</a>
  <% } %>
  </div>
</div>

<!--<script src="app.bundle.js"></script>-->
<% include partials/footer %>
