<% include partials/header %>

<div>
    <h1>My Profile Page</h1>
    <p>User</p>

    <% if (!isAuthenticated) { %>
  <a id="signIn" href="/login">Sign In</a>
  <% } else { %>
      <h3 id="welcomeMsg"><%=user.id%></h3>
      <a href="/logout">Log Out</a>
  <% } %>
</div>

<% include partials/footer %>
