<% include ../../partials/header %>
<div class="row">
<div class="small-12 columns">
  <h1><%= user.google.name %></h1>
  <div id="app-container">
    <!--<admin-user-info :user="user"></admin-user-info>-->
  </div>
</div>
</div>

<script src="../../../crap-min.js"></script>
<% include ../../partials/footer %>
