<% include ../../partials/header %>
<div class="row">
  <div class="small-12 columns">
    <h1><%= user.google.name %></h1>
    <div id="app-container">
      <!--<user-permissions-container :user="user"></admin-users-table-container>-->
    </div>
  </div>
</div>

<script src="../../app.bundle.js"></script>
<% include ../../partials/footer %>
