<% include ../../partials/header %>
<div class="row">
  <div class="small-12 columns">
    <h1>System Users</h1>
    <div id="app-container">
      <admin-users-table-container></admin-users-table-container>
    </div>
  </div>
</div>

<script src="../../js/app-min.js"></script>
<!--<script src="../../js/crap-min.js"></script>-->
<% include ../../partials/footer %>
